In [2]:
a = [(1, 2), (3, 4), (5, 6)]

for i in a:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [3]:
a = [(1, 2), (3, 4), (5, 6)]

for (first, last) in a:
    print(first + last)

3
7
11

In [6]:
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i * j:2d}", end = "     ")
    print()

2 * 1 =  2     2 * 2 =  4     2 * 3 =  6     2 * 4 =  8     2 * 5 = 10     2 * 6 = 12     2 * 7 = 14     2 * 8 = 16     2 * 9 = 18
3 * 1 =  3     3 * 2 =  6     3 * 3 =  9     3 * 4 = 12     3 * 5 = 15     3 * 6 = 18     3 * 7 = 21     3 * 8 = 24     3 * 9 = 27
4 * 1 =  4     4 * 2 =  8     4 * 3 = 12     4 * 4 = 16     4 * 5 = 20     4 * 6 = 24     4 * 7 = 28     4 * 8 = 32     4 * 9 = 36
5 * 1 =  5     5 * 2 = 10     5 * 3 = 15     5 * 4 = 20     5 * 5 = 25     5 * 6 = 30     5 * 7 = 35     5 * 8 = 40     5 * 9 = 45
6 * 1 =  6     6 * 2 = 12     6 * 3 = 18     6 * 4 = 24     6 * 5 = 30     6 * 6 = 36     6 * 7 = 42     6 * 8 = 48     6 * 9 = 54
7 * 1 =  7     7 * 2 = 14     7 * 3 = 21     7 * 4 = 28     7 * 5 = 35     7 * 6 = 42     7 * 7 = 49     7 * 8 = 56     7 * 9 = 63
8 * 1 =  8     8 * 2 = 16     8 * 3 = 24     8 * 4 = 32     8 * 5 = 40     8 * 6 = 48     8 * 7 = 56     8 * 8 = 64     8 * 9 = 72
9 * 1 =  9     9 * 2 = 18     9 * 3 = 27     9 * 4 = 36     9 * 5 = 45     9 * 6 = 54     9 * 7 = 63     9 * 8 = 72     9 * 9 = 81

In [8]:
#list comprehension

a = [1, 2, 3, 4]
r = []

for n in a:
    r.append(n * 3)
    print(r)

[3]
[3, 6]
[3, 6, 9]
[3, 6, 9, 12]

In [9]:
a = [1, 2, 3, 4]
r = [n * 3 for n in a]
print(r)

[3, 6, 9, 12]

In [12]:
#list comprehension

a = [1, 2, 3, 4]
r = []

for n in a:
    if n % 2 == 0:
        r.append(n * 3)
    print(r)

[]
[6]
[6]
[6, 12]

In [14]:
a = [1, 2, 3, 4]
r = [n * 3 for n in a if n % 2 == 0]
print(r)

[6, 12]

In [16]:
r = [x * y for x in range(2, 10) for y in range(1, 9)]
print(r)

[2, 4, 6, 8, 10, 12, 14, 16, 3, 6, 9, 12, 15, 18, 21, 24, 4, 8, 12, 16, 20, 24, 28, 32, 5, 10, 15, 20, 25, 30, 35, 40, 6, 12, 18, 24, 30, 36, 42, 48, 7, 14, 21, 28, 35, 42, 49, 56, 8, 16, 24, 32, 40, 48, 56, 64, 9, 18, 27, 36, 45, 54, 63, 72]

In [17]:
i = 0
while True:
    i += 1
    if i > 5: break
    print("*" * i)

*
**
***
****
*****